body {
  margin: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vh auto;
      grid-template-columns: 100vh auto;
}

#board {
  height: 100vh;
  width: 100vh;
  background-color: #CBE9E1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.0909vh 81.8181vh 9.0909vh;
      grid-template-columns: 9.0909vh 81.8181vh 9.0909vh;
  -ms-grid-rows: 9.0909vh 81.8181vh 9.0909vh;
      grid-template-rows: 9.0909vh 81.8181vh 9.0909vh;
  font-family: "Verdana", Sans-serif;
  font-size: 0.65em;
  text-transform: uppercase;
  text-align: center;
}

#pos0 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: 3 / 3 / 3 / 3;
}

#pos10 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 3 / 1;
}

#pos20 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
}

#pos30 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / 1 / 3;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11.1111%)[9];
      grid-template-columns: repeat(9, 11.1111%);
}

#top {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 1 / 2;
}

#top .space {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2 / 3 / 2;
}

.column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (11.1111%)[9];
      grid-template-rows: repeat(9, 11.1111%);
}

#left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 2 / 1;
}

#left .space {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: 2 / 3 / 2 / 3;
}

#right .space {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.space {
  border: 1px solid black;
}

.space .color-bar {
  width: 100%;
  height: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

.space .color-bar .house {
  width: 80%;
  height: 80%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.space .color-bar .hotel {
  width: 100%;
  height: 80%;
  background-color: red;
}

.space #brown {
  background-color: #640303;
}

.space #light-blue {
  background-color: #AAE0FA;
}

.space #purple {
  background-color: #b02f7c;
}

.space #orange {
  background-color: #fa811d;
}

.space #red {
  background-color: #f50c2b;
}

.space #yellow {
  background-color: #ffed20;
}

.space #green {
  background-color: #41994e;
}

.space #blue {
  background-color: #5a6dba;
}

.space #player1 {
  width: 10%;
  height: 10%;
  background: #2C87AA;
}

.space #player2 {
  width: 10%;
  height: 10%;
  background: #CD5334;
}

.space #player3 {
  width: 10%;
  height: 10%;
  background: #674fd6;
}

.space #player4 {
  width: 10%;
  height: 10%;
  background: #BC71B2;
}

.space #player5 {
  width: 10%;
  height: 10%;
  background: #1B998B;
}

.space #player6 {
  width: 10%;
  height: 10%;
  background: #4E4D4D;
}

#stats {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 33vh;
      grid-template-rows: auto auto 33vh;
}

#player-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

#players-tab {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
}

#players-tab .playerstats {
  height: calc(100%/6);
  color: white;
  font-family: "Verdana", Sans-serif;
  font-size: 1.5em;
  text-align: center;
}

#players-tab #player1stats {
  background-color: #2C87AA;
}

#players-tab #player2stats {
  background-color: #CD5334;
}

#players-tab #player3stats {
  background-color: #674fd6;
}

#players-tab #player4stats {
  background-color: #BC71B2;
}

#players-tab #player5stats {
  background-color: #1B998B;
}

#players-tab #player6stats {
  background-color: #4E4D4D;
}

#gamelog {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 3 / 1;
  background-color: grey;
  margin: 0px;
  overflow-y: auto;
}
/*# sourceMappingURL=index.css.map */