body {
  margin: 0px;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 900px 20vw auto;
      grid-template-columns: auto 900px 20vw auto;
  -ms-grid-rows: auto 900px;
      grid-template-rows: auto 900px;
  background-color: blue;
  font-family: "Verdana", Sans-serif;
}

#board {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  background-color: #CBE9E1;
  /* 3 grid */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14% 72% 14%;
      grid-template-columns: 14% 72% 14%;
  -ms-grid-rows: 14% 72% 14%;
      grid-template-rows: 14% 72% 14%;
}

#board .row {
  display: -ms-grid;
  display: grid;
}

#board .vertical-row {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-rows: (11.1111%)[9];
      grid-template-rows: repeat(9, 11.1111%);
}

#board .left-row {
  -ms-grid-column: 1;
  grid-column: 1;
}

#board .left-row .container {
  -webkit-transform: translate(37%, -21.5%) rotate(90deg);
          transform: translate(37%, -21.5%) rotate(90deg);
}

#board .right-row {
  -ms-grid-column: 3;
  grid-column: 3;
}

#board .right-row .container {
  -webkit-transform: translate(37%, -21.5%) rotate(270deg);
          transform: translate(37%, -21.5%) rotate(270deg);
}

#board .horizontal-row {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-columns: (11.1111%)[9];
      grid-template-columns: repeat(9, 11.1111%);
}

#board .top-row {
  -ms-grid-row: 1;
  grid-row: 1;
}

#board .top-row .container {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#board .bottom-row {
  -ms-grid-row: 3;
  grid-row: 3;
}

#board .space {
  border: 1.2px black solid;
  padding: 1px;
  font-size: 0.55em;
  text-align: center;
}

#board .space .container {
  width: 72px;
  height: 123px;
}

#board .space .container .color-bar {
  width: 70px;
  height: 25px;
  border-bottom: 2.4px black solid;
}

#board .space .container .brown {
  background-color: #640303;
  -webkit-transform: translate(-2%, -5%);
          transform: translate(-2%, -5%);
}

#board .space .container .light-blue {
  background-color: #AAE0FA;
  -webkit-transform: translate(-2%, -5%);
          transform: translate(-2%, -5%);
}

#board .space .container .purple {
  background-color: #b02f7c;
}

#board .space .container .orange {
  background-color: #fa811d;
}

#board .space .container .red {
  background-color: #f50c2b;
  -webkit-transform: translate(4.5%, -4%);
          transform: translate(4.5%, -4%);
}

#board .space .container .yellow {
  background-color: #ffed20;
  -webkit-transform: translate(4.5%, -4%);
          transform: translate(4.5%, -4%);
}

#board .space .container .green {
  background-color: #41994e;
  -webkit-transform: translate(3%, -8%);
          transform: translate(3%, -8%);
}

#board .space .container .blue {
  background-color: #5a6dba;
  -webkit-transform: translate(3%, -8%);
          transform: translate(3%, -8%);
}

.info {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  background-color: grey;
}
/*# sourceMappingURL=index.css.map */